.nav {
  padding: 20px 0;
  &__wrap {
    max-width: 1000px;
    margin: 0 auto;
    ul {
      width: 100%;
      justify-content: space-between;
      li {
        a {
          text-align: center;
          letter-spacing: 3px;
          color: #000;
          transition: .3s;
          &:hover {
            opacity: .5;
          }
          span {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

// -----sm(Small)-----
@media screen and (max-width: 576px) {
  .nav {
    padding-bottom: 0;
    ul {
      display: grid;
      justify-content: center;
      li {
        span {
          margin-left: 8px;
        }
      }
      hr {
        margin: 8px 0;
      }
    }
  }
}

// -----md(Medium)-----
// @media screen and (min-width: 768px) {
// }

// -----lg(Large)-----
// @media screen and (min-width: 992px) {
// }

// -----xl(Extra Large)-----
// @media screen and (min-width: 1200px) {
// }