.payment-title {
  @include sectionTitle;
}

.payment {
  margin: 50px 0 0;
  &__wrap {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &--item {
      p:first-child {
        font-weight: bold;
      }
      p:nth-child(n+2) {
        margin: 0;
      }
    }
    &--pay {
      display: grid;
      p:first-child {
        font-weight: bold;
      }
    }
    &--order {
      background: #FCE8EB;
      margin: 0 -20px 16px;
      line-height: 1.6;
    }
    &--price,
    &--tax {
      margin: 0;
      span:first-child {
        font-family: 'Roboto', 'Montserrat', sans-serif;
      }
      span:last-child {
        font-size: 12px;
      }
    }
    &--total {
      span:first-child {
        font-family: 'Roboto', 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #e8435f;
      }
      span:last-child {
        font-size: 12px;
      }
    }
    button {
      @include button;
      margin: 0 0 20px;
    }
  }
}

.StripeElement {
  background: #F1F1F1;
  height: 40px;
  width: 100%;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms;
  &--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  &--invalid {
    border-color: #f00;
  }
  &--webkit-autofill {
    background-color: #fefde5 !important;
  }
}

#card-errors {
  color: #f00;
}

// -----sm(Small)-----
@media screen and (max-width: 576px) {
  .payment-title {
    span {
      width: 85%;
    }
  }
  
  .payment {
    &__wrap {
      &:first-child {
        padding: 0 0 30px;
      }
      &:last-child {
        padding: 0;
      }
      &--item {
        margin: 0 0 30px;
        grid-template-columns: 40% 60%;
      }
    }
  }
}

// -----md(Medium)-----
// @media screen and (min-width: 768px) {
// }

// -----lg(Large)-----
// @media screen and (min-width: 992px) {
// }

// -----xl(Extra Large)-----
// @media screen and (min-width: 1200px) {
// }