.thanks {
  text-align: center;
  margin: 0 0 80px;
  h1 {
    margin: 0 0 10px;
  }
  p {
    margin: 0 0 30px;
  }
  a {
    @include button;
    background: #a85413;
    box-shadow: 0 3px 0 #492408;
    i {
      margin: 0 8px 0 0;
    }
  }
}

// -----sm(Small)-----
@media screen and (max-width: 576px) {
  .thanks {
    h1 {
      font-size: 30px;
    }
  }
}

// -----md(Medium)-----
// @media screen and (min-width: 768px) {
// }

// -----lg(Large)-----
// @media screen and (min-width: 992px) {
// }

// -----xl(Extra Large)-----
// @media screen and (min-width: 1200px) {
// }