@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.nav {
  max-width: 1200px;
  height: 120px;
  margin: 10px auto;
  padding: 0;
}

.nav img {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav img:hover {
  opacity: .5;
}

.nav ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav ul li a {
  padding: 0;
  color: #000;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav ul li a:hover {
  opacity: .5;
}

.nav ul li a i {
  margin-right: 5px;
}

.top__item--image1 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image1.png");
}

.top__item--image2 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image2.png");
}

.top__item--image3 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image3.png");
}

.top__item--image4 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image4.png");
}

.top__item--image5 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image5.png");
}
