@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.header {
  max-width: 1200px;
  height: 120px;
  margin: 10px auto;
  padding: 0;
}

.header img {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.header img:hover {
  opacity: .5;
}

.header ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header ul li a {
  padding: 0;
  color: #000;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.header ul li a:hover {
  opacity: .5;
}

.header ul li a i {
  margin-right: 5px;
}

.top__item--image1 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image1.png");
}

.top__item--image2 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image2.png");
}

.top__item--image3 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image3.png");
}

.top__item--image4 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image4.png");
}

.top__item--image5 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-image: url("/static/img/main-image5.png");
}

.nav {
  padding: 20px 0;
}

.nav__wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.nav__wrap ul {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__wrap ul li a {
  text-align: center;
  letter-spacing: 3px;
  color: #000;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav__wrap ul li a:hover {
  opacity: .5;
}

.nav__wrap ul li a span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

footer {
  width: 100%;
  font-size: 12px;
  background: #323232;
}

footer .footer {
  max-width: 1200px;
}

footer .footer__item {
  text-align: center;
}

footer .footer__item a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

footer .footer__item a:hover {
  opacity: .5;
}

footer .footer p {
  margin: 0;
  text-align: center;
  color: #fff;
}
