{% extends "app/base.html" %}

{% block slider %}
<div id= "slides" class="top carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    <li data-target="#slides" data-slide-to="3"></li>
    <li data-target="#slides" data-slide-to="4"></li>
  </ul>
  <div class="top__item carousel-inner">
    <div class="top__item--image1 carousel-item active"></div>
    <div class="top__item--image2 carousel-item"></div>
    <div class="top__item--image3 carousel-item"></div>
    <div class="top__item--image4 carousel-item"></div>
    <div class="top__item--image5 carousel-item"></div>
  </div>
</div>
{% endblock %}

{% block nav %}
<nav class="nav navbar navbar-expand">
  <div class="nav__wrap container">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="/">PRODUCTS<br><span>-商品のご案内-</span></a>
      </li>
      <li>
        <a class="nav-link" href="/">ABOUT<br><span>-当店について-</span></a>
      </li>
      <li>
        <a class="nav-link" href="/">GUIDE<br><span>-ご利用方法-</span></a>
      </li>
      <li>
        <a class="nav-link" href="/">ACCESS<br><span>-店舗のご案内-</span></a>
      </li>
      <li>
        <a class="nav-link" href="/">CONTACT<br><span>-お問い合わせ-</span></a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="text-center my-5">
  <div class="row">
    {% for item in object_list %}
    <div class="col-lg-3 col-md-6">
      <div class="card img-thumbnail itemlist mb-3">
        <img class="card-img-top card-thum" src="{{ item.image.url }}" alt="">
        <div class="card-body text-center px-2 py-3">
          <p class="mb-0 text-secondary">{{ item.category }}</p>
          <h5 class="font-weight-bold">{{ item.title }}</h5>
          <h4 class="font-weight-bold">
            {{ item.price }}円
          </h4>
        </div>
        <a class="stretched-link" href="{% url 'product_detail' item.slug %}"></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}