{% extends "app/base.html" %}
{% load static %}

{% block content %}
<div class="order-check">
  <span>PLEASE CHECK YOUR ORDER</span>
</div>

<form action="." method="POST" id="payment-form">
  <div class="payment row">
    <div class="payment__wrap col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="payment__wrap--item col-md-5">
              <p><i class="fas fa-check-circle fa-fw" aria-hidden="true"></i>ご注文者様</p>
              <span>お名前　：</span>
              <span>{{ user_data.first_name }} {{ user_data.last_name }} 様</span>
              <span>ご連絡先：</span>
              <span>{{ user_data.tel }}</span>
            </div>
            <div class="payment__wrap--pay col-md-7">
              <p><i class="fas fa-check-circle fa-fw" aria-hidden="true"></i>お支払い方法</p>
              {% csrf_token %}
              <div id="card-element"></div>
              <div id="card-errors" role="alert">※カード番号に不備があります。</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="payment__wrap col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <p class="payment__wrap--order">
            <i class="fas fa-check-circle fa-fw" aria-hidden="true"></i>ご注文内容
          </p>
          <p class="payment__wrap--price">
            商品の小計：
            <span>{{ order.get_subtotal }}</span>
            <span>円(税別)</span>
          </p>
          <p class="payment__wrap--tax">
            消費税：
            <span>{{ order.get_tax }}</span>
            <span>円</span>
          </p>
          <hr>
          <p class="payment__wrap--total">
            ご請求金額：
            <span>{{ order.get_total }}</span>
            <span>円(税込)</span>
          </p>
          <button class="btn" type="submit">
            <i class="fas fa-check fa-fw" aria-hidden="true"></i>注文を確定する
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}